@{
    ViewData["Title"] = "IP адрес и Браузер";
    Layout = "_LayoutMenu";
}

<div class="container marketing">
    <div class="Mypadding">
        <h2>Информация o пользователе: </h2>
        <p style="color:gray">Браузере: @ViewData["browser"]</p>
        <p style="color:darkgreen">IP адрес: @ViewData["ip"]</p>

    </div>
</div>