@{
    ViewData["Title"] = "Menu 2";
    Layout = "_LayoutMenu";
}


<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Привет, мир!</font></font></h1>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Это шаблон для простого маркетингового или информационного сайта. </font><font style="vertical-align: inherit;">Он включает в себя большую выноску, называемую jumbotron, и три вспомогательных элемента контента. </font><font style="vertical-align: inherit;">Используйте его в качестве отправной точки для создания чего-то более уникального.</font></font></p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Учить больше "</font></font></a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Заголовок</font></font></h2>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Donec id elit non mi porta gravida at eget metus. </font><font style="vertical-align: inherit;">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </font><font style="vertical-align: inherit;">Etiam porta sem malesuada magna mollis euismod. </font><font style="vertical-align: inherit;">Donec sed odio dui.</font></font></p>
                <p><a class="btn btn-secondary" href="#" role="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посмотреть детали "</font></font></a></p>
            </div>
            <div class="col-md-4">
                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Заголовок</font></font></h2>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Donec id elit non mi porta gravida at eget metus. </font><font style="vertical-align: inherit;">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. </font><font style="vertical-align: inherit;">Etiam porta sem malesuada magna mollis euismod. </font><font style="vertical-align: inherit;">Donec sed odio dui.</font></font></p>
                <p><a class="btn btn-secondary" href="#" role="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посмотреть детали "</font></font></a></p>
            </div>
            <div class="col-md-4">
                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Заголовок</font></font></h2>
                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Donec sed odio dui. </font><font style="vertical-align: inherit;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. </font><font style="vertical-align: inherit;">Vestibulum id ligula porta felis euismod semper. </font><font style="vertical-align: inherit;">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</font></font></p>
                <p><a class="btn btn-secondary" href="#" role="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посмотреть детали "</font></font></a></p>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->

</main>