@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutMenu";
}


<div class="container marketing" style="padding: 0 0 0 20px">
    <div class="container-sm themed-container">
        <div class="row mb-3">

            <div class="p-1 mb-1 bg-light rounded-3  text-center " id="blocksToggle5">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold " id="blocksIMGToggle5">Домашная робота 5</h1>
                </div>
            </div>


            <div class="container px-1 py-1 " id="blocksToggle51">
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="blockOffsetHeight51">
                                <h2>
                                    Завдання 1

                                </h2>
                                <p style="color:grey;">
                                    <i>
                                        Создайте класс с методами для арифметических операций с именем CalcService.  <br />
                                        Создайте контроллер, который будет содержать методы действия для арифметических операций. <br />
                                        Настройте DI таким образом, чтобы контроллер воспользовался сервисом CalcService. <br />

                                    </i>
                                </p>
                            </div>
                            <div class="col d-flex align-items-start">
                                <a asp-controller="Calc" asp-action="Calc" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="blockOffsetHeight52">
                                <h2>
                                    Завдання 2

                                </h2>
                                <p style="color:grey;">
                                    <i>
                                        Создайте контроллер, который выводит пользователю список строковых значений.  <br />
                                        Сделайте два сервиса, один который предоставляет массив названий дней недели, второй, который предоставляет массив с названых месяцев. <br />
                                        Реализуйте через DI передачу контроллеру одного из сервисов, используемый сервис зависит от настроек DI. <br />

                                    </i>
                                </p>
                            </div>

                            <div class="col d-flex align-items-start">
                                <a asp-controller="Services" asp-action="Index" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container marketing">
                    <img style="width:100%;height:100%;" src="https://user-images.githubusercontent.com/44538497/95009574-bb996d00-0640-11eb-938f-dd433ae70c58.png" alt="Вид на горы">
                </div>
            </div>

        </div>
    </div>
</div>



<div class="container marketing" style="padding: 0 0 0 20px">
    <div class="container-sm themed-container">
        <div class="row mb-3">

            <div class="p-1 mb-1 bg-light rounded-3  text-center" id="blocksToggle6">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold" id="blocksIMGToggle6">Домашная робота 6</h1>
                </div>
            </div>




            <div class="container px-1 py-1" id="blocksToggle61">
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">

                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="blockOffsetHeight61">
                                <h2>
                                    Завдання 1

                                </h2>
                                <p style="color:grey;">
                                    <i>
                                        Создайте MVC приложение, которое будет подсчитывать количество пользователей онлайн. <br />
                                        Количество пользователей должно отображаться на странице вашего приложения. <br />
                                        Для проверки работы приложения, запустите его в несколько браузерах. <br />
                                        Если вы откроете приложение в трех браузерах, количество пользователей онлайн должно быть равное трем.<br />
                                    </i>
                                </p>
                            </div>
                            <div class="col d-flex align-items-start">
                                <a asp-controller="StateStorage" asp-action="Visitors" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="blockOffsetHeight62">
                                <h2>
                                    Завдання 2

                                </h2>
                                <p style="color:grey;">
                                    <i>
                                        Создайте MVC приложение форму, на которой будет находиться два поля ввода, одно поле ввода для значения, а второе поле ввода для установки даты и времени (можете использовать HTML элемент управления) и кнопка, которая отправит данные на сервер. <br />
                                        На сервере полученная информация должна быть записана в Cookies с установкой даты устаревания равной той, которая была установлена во втором поле ввода в форме. <br />
                                        Сделайте страницу, которая будет использоваться для проверки наличия значения в Cookies<br />

                                    </i>
                                </p>
                            </div>
                            <div class="col d-flex align-items-start">
                                <a asp-controller="StateStorage" asp-action="Cookies" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="container marketing">
                    <img style="width:100%;height:100%;" src="https://static.tildacdn.com/tild3661-3831-4564-b033-666262393664/glenn-carstens-peter.jpg" alt="Вид на горы">
                </div>

            </div>
        </div>
    </div>
</div>







<div class="container marketing" style="padding: 0 0 0 20px">
    <div class="container-sm themed-container">
        <div class="row mb-3">


            <div class="p-1 mb-1 bg-light rounded-3  text-center" id="blocksToggle7">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold" id="blocksIMGToggle7">Домашная робота 7</h1>
                </div>
            </div>

            <div class="container px-1 py-1" id="blocksToggle71">
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">
                    <div class=" ">
                        <div>
                            <div class="blockOffsetHeight71">
                                <h2 class="text-center">
                                    Завдання

                                </h2>
                                <div class="w3-example">
                                    <h3>Код</h3>
                                    <div class="w3-code notranslate htmlHigh">
                                        <span class="tagnamecolor" style="color:brown"> <span class="tagcolor" style="color:mediumblue">&lt;</span>form action="/Home/Index " method="post"<span class="tagcolor" style="color:mediumblue">&gt;</span> </span>
                                        <br>

                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>label<span class="tagcolor" style="color:mediumblue">&gt;</span></span>First<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/label<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>
                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>input name="first" /<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>
                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>br /<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>


                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>label<span class="tagcolor" style="color:mediumblue">&gt;</span></span>Second<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/label<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>
                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>input name="second" /<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>
                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>br /<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>



                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>label<span class="tagcolor" style="color:mediumblue">&gt;</span></span>Count<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/label<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>
                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>input type="number" name="count" /<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>
                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>br /<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>
                                        &nbsp;&nbsp;&nbsp; <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>button type="submit"<span class="tagcolor" style="color:mediumblue">&gt;</span></span>Create<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/button<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                        <br>
                                        <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/form<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
                                    </div>

                                </div>
                                <p style="color:grey;">
                                    <i>
                                        Создайте представление и скопируйте в него код выше. <br />
                                        Подготовьте соответствующий метод действия, который сможет получить значения из данной формы и отображать их в Output окно Visual Studio. <br />
                                        Для решения задачи используйте привязку модели.<br />
                                    </i>
                                </p>
                            </div>
                            <div class="col d-flex align-items-start">
                                <a asp-controller="Menu" asp-action="Form" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container marketing" style="padding: 0 0 0 20px">
    <div class="container-sm themed-container">
        <div class="row mb-3">


            <div class="p-1 mb-1 bg-light rounded-3  text-center" id="blocksToggle8">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold" id="blocksIMGToggle8">Домашная робота 8</h1>
                </div>
            </div>

            <div class="container px-1 py-1" id="blocksToggle81">
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="blockOffsetHeight81">
                                <h2>
                                    Завдання 1

                                </h2>
                                <p style="color:grey;">
                                    <i style="color:grey;">
                                        Создайте форму регистрации на консультацию. В форме должны быть поля: <br />
                                    </i>
                                    <ul>
                                        <li>Имя</li>
                                        <li>Фамилия</li>
                                        <li>Email</li>
                                        <li>Желаемая дата консультации </li>
                                    </ul>
                                    <i style="color:grey;">
                                        Все поля обязательные для ввода. Email должен быть в соответствующем формате. Дата консультации должна быть правильной датой, она должна быть в будущем и не должна попадать на выходные дни. <br />
                                        При наличии ошибок, необходимо оповестить пользователя об ошибках. <br />
                                    </i>
                                </p>
                            </div>
                            <div class="col d-flex align-items-start">
                                <a asp-controller="User" asp-action="RegisterFirst" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="blockOffsetHeight82">
                                <h2>
                                    Завдання 2

                                </h2>
                                <p style="color:grey;">
                                    <i>
                                        Для формы из предыдущего задания добавьте валидацию на стороне клиента.<br />
                                    </i>
                                </p>
                            </div>

                            <div class="col d-flex align-items-start">
                                <a asp-controller="User" asp-action="RegisterSecond" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="blockOffsetHeight83">
                                <h2>
                                    Завдання 3

                                </h2>
                                <p style="color:grey;">
                                    <i>
                                        Для формы из предыдущего задания добавьте выпадающий список, в котором можно будет указать продукт, по которому клиент хочет получить консультацию. <br />
                                        Значения: JavaScript, C#, Java, Python, Основы. <br />
                                        При этом консультация по продукту «Основы» не может проходить по понедельникам, соответствующая ошибка должна выводиться в пользовательском интерфейсе.<br />
                                    </i>
                                </p>
                            </div>

                            <div class="col d-flex align-items-start">
                                <a asp-controller="User" asp-action="RegisterThird" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container marketing" style="padding: 0 0 0 20px">
                    <img style="width:100%;height:100%;" src="https://habr.com/share/publication/332804/27635c6d82af10a8f050e3aa8a6e5cc4/" alt="Вид на горы">
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container marketing" style="padding: 0 0 0 20px">
    <div class="container-sm themed-container">
        <div class="row mb-3">

            <div class="p-1 mb-1 bg-light rounded-3  text-center " id="blocksToggle9">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold " id="blocksIMGToggle9">Домашная робота 9</h1>
                </div>
            </div>


            <div class="container px-1 py-1 " id="blocksToggle91">
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="blockOffsetHeight91">
                                <h2>
                                    Завдання 1

                                </h2>
                                <p style="color:grey;">
                                    <i style="color:grey;">
                                        Создайте фильтр, который будет считать количество уникальных пользователей, выполнивших запрос к веб приложению.<br />
                                        Информацию о количестве пользователей фильтр должен записывать в файл.<br />
                                    </i>
                                </p>
                            </div>
                            <div class="col d-flex align-items-start">
                                <a asp-controller="Filter" asp-action="GetUniqueUsers" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <div>
                            <div class="blockOffsetHeight92">
                                <h2>
                                    Завдання 2

                                </h2>
                                <p style="color:grey;">
                                    <i>
                                        Создайте веб приложение и фильтр действия, который будет записывать в файл имя метода действия и время обращения к нему. <br />
                                        При этом фильтр может быть применен к любому методу действия приложения.<br />
                                    </i>
                                </p>
                            </div>

                            <div class="col d-flex align-items-start">
                                <a asp-controller="Filter" asp-action="LogUserAction" class="w-100 btn btn-lg btn-outline-primary">
                                    Перейти
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container marketing">
                    <img style="width:100%;height:100%;" src="https://ubr.ua/wp-content/uploads/2015/09/186949.jpg" alt="Вид на горы">
                </div>
            </div>

        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    var height61 = document.querySelector(".blockOffsetHeight61").offsetHeight;
    console.log('Высота 6-1:', height61);
    var height62 = document.querySelector(".blockOffsetHeight62").offsetHeight;
    if (height61 > height62) {
        document.querySelector(".blockOffsetHeight62").style.height = height61 + 16 + "px";
    }
    else {
        document.querySelector(".blockOffsetHeight61").style.height = height62 + 16 + "px";
    }



    var height51 = document.querySelector(".blockOffsetHeight51").offsetHeight;
    var height52 = document.querySelector(".blockOffsetHeight52").offsetHeight;
    if (height61 > height62) {
        document.querySelector(".blockOffsetHeight52").style.height = height51 + 16 + "px";
    }
    else {
        document.querySelector(".blockOffsetHeight51").style.height = height52 + 16 + "px";
    }



    var height81 = document.querySelector(".blockOffsetHeight81").offsetHeight;
    var height82 = document.querySelector(".blockOffsetHeight82").offsetHeight;
    var height83 = document.querySelector(".blockOffsetHeight83").offsetHeight;
    if (height81 > height82 && height81 > height83) {
        document.querySelector(".blockOffsetHeight82").style.height = height81 + 16 + "px";
        document.querySelector(".blockOffsetHeight83").style.height = height81 + 16 + "px";
    }
    else if (height82 > height81 && height82 > height83) {
        document.querySelector(".blockOffsetHeight81").style.height = height82 + 16 + "px";
        document.querySelector(".blockOffsetHeight83").style.height = height82 + 16 + "px";
    }
    else {
        document.querySelector(".blockOffsetHeight81").style.height = height83 + 16 + "px";
        document.querySelector(".blockOffsetHeight82").style.height = height83 + 16 + "px";
    }

    var height91 = document.querySelector(".blockOffsetHeight91").offsetHeight;
    var height92 = document.querySelector(".blockOffsetHeight92").offsetHeight;

    if (height91 > height92) {
        document.querySelector(".blockOffsetHeight92").style.height = height91 + 16 + "px";
    }
    else {
        document.querySelector(".blockOffsetHeight91").style.height = height92 + 16 + "px";
    }

    $("#blocksToggle5").click(function () {
        $("#blocksToggle51").slideToggle("true");
        if (document.getElementById("blocksIMGToggle5").classList.contains("drop-down-up")) {
            $('#blocksIMGToggle5').addClass("drop-down-down");
            $('#blocksIMGToggle5').removeClass("drop-down-up");
        }
        else {
            $('#blocksIMGToggle5').removeClass("drop-down-down");
            $('#blocksIMGToggle5').addClass("drop-down-up");
        }
    });

    $("#blocksToggle6").click(function () {
        $("#blocksToggle61").slideToggle("fast");
        if (document.getElementById("blocksIMGToggle6").classList.contains("drop-down-up")) {
            $('#blocksIMGToggle6').addClass("drop-down-down");
            $('#blocksIMGToggle6').removeClass("drop-down-up");
        }
        else {
            $('#blocksIMGToggle6').removeClass("drop-down-down");
            $('#blocksIMGToggle6').addClass("drop-down-up");
        }
    });

    $("#blocksToggle7").click(function () {
        $("#blocksToggle71").slideToggle("fast");
        if (document.getElementById("blocksIMGToggle7").classList.contains("drop-down-up")) {
            $('#blocksIMGToggle7').addClass("drop-down-down");
            $('#blocksIMGToggle7').removeClass("drop-down-up");
        }
        else {
            $('#blocksIMGToggle7').removeClass("drop-down-down");
            $('#blocksIMGToggle7').addClass("drop-down-up");
        }
    });
    $("#blocksToggle8").click(function () {
        $("#blocksToggle81").slideToggle("fast");
        if (document.getElementById("blocksIMGToggle8").classList.contains("drop-down-up")) {
            $('#blocksIMGToggle8').addClass("drop-down-down");
            $('#blocksIMGToggle8').removeClass("drop-down-up");
        }
        else {
            $('#blocksIMGToggle8').removeClass("drop-down-down");
            $('#blocksIMGToggle8').addClass("drop-down-up");
        }
    });

    $("#blocksToggle9").click(function () {
        $("#blocksToggle91").slideToggle("fast");
        if (document.getElementById("blocksIMGToggle9").classList.contains("drop-down-up")) {
            $('#blocksIMGToggle9').addClass("drop-down-down");
            $('#blocksIMGToggle9').removeClass("drop-down-up");
        }
        else {
            $('#blocksIMGToggle9').removeClass("drop-down-down");
            $('#blocksIMGToggle9').addClass("drop-down-up");
        }
    });


    $("#blocksToggle61").slideToggle("fast");
    $("#blocksToggle71").slideToggle("fast");
    $("#blocksToggle81").slideToggle("fast");
    $("#blocksToggle91").slideToggle("fast");

    $('#blocksIMGToggle5').addClass("drop-down-up");
    $('#blocksIMGToggle6').addClass("drop-down-down");
    $('#blocksIMGToggle7').addClass("drop-down-down");
    $('#blocksIMGToggle8').addClass("drop-down-down");
    $('#blocksIMGToggle9').addClass("drop-down-down");
</script>
