@{
    ViewData["Title"] = "ShowCookies";
    Layout = "_LayoutMenu";
}
<div class="container marketing">
    <div class="Mypadding">
        <div class="jumbotron Spanpadding Divpadding">
            <div class="container">

                <h1> Ваш Cookies = @ViewBag.Cookies</h1>
                <h1> Expires Cookies = @ViewBag.CookiesTime</h1>
            </div>
        </div>
    </div>
</div>