@{
    ViewData["Title"] = "Visitors";
    Layout = "_LayoutMenu";
}

<div class="container marketing">
    <div class="Mypadding">
        <div class="jumbotron ">
            <div class="container">
                <h2 class="display-5 font-weight-normal Divpadding">Пользователей на сайте: @Model</h2>
                <div class="">
                    <h4 class="display-5 font-weight-normal" style="color: chocolate">
                        Ваш SessionId = @ViewBag.SessionId
                    </h4>

                </div>
            </div>
        </div>
    </div>
</div>