@{
    ViewData["Title"] = "Home-Services";
    Layout = "_LayoutMenu";
}

<div class="container marketing " style="padding: 0 0 0 20px">
    <div class="Mypadding">

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Выберите сервис</a>


            <a asp-controller="Services" asp-action="Day" class="list-group-item list-group-item-action list-group-item-primary">Сервис дней</a>
            <a asp-controller="Services" asp-action="Months" class="list-group-item list-group-item-action list-group-item-secondary">Сервис месяцев</a>

        </div>
    </div>

</div>