@{
    ViewData["Title"] = "Журнал действий пользователя";
    Layout = "_Layout";
}

@model string[]

<div class="container marketing">
    <div class="">
        <div class="jumbotron Spanpadding Divpadding ">
            <h2 class="display-5 fw-bold text-center " id="blocksIMGToggle5">Страница для отображения логирования ошибок в файл по средствам NetEscapades.Extensions.Logging.RollingFile.</h2>
            <br />
            <br />

            <div class="bd-example d-md-flex">
                <div class="overflow-auto p-3 mb-3 mb-md-0 me-md-3 bg-light" style="width: 100%; max-height: 800px;">
                    @foreach (var item in Model)
                    {
                    <div class="p-3 mb-2 bg-secondary text-white ">
                        <h5>Log: <span class="text-dark"> @item</span></h5>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

