@{
    ViewData["Title"] = "Уникальные";
    Layout = "_Layout";
}

<div class="container marketing">
    <div class="">
        <div class="jumbotron Spanpadding Divpadding text-center">
            <h2 class="display-5 fw-bold " id="blocksIMGToggle5">Страница для отображения сообщение, которое находиться в файле конфигурации (Завдання 1)</h2>
            <br />
            <br />
            <div class="container">
                <div class="p-1 mb-1 rounded-3  text-center ">
                    <div class="container-fluid bg-secondary py-5">

                        <h4> Текст в файле : = <span class="text-info">@ViewBag.Text</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

