@{
    ViewData["Title"] = "Задание 2 Форма";
    Layout = "_Layout";
}

@model Homework.Models.Email

<div class="container marketing padding-boreder">
    <div class="row w3-example">

        <div class="col myunselectable">
        </div>
        <div class="col-8">
            <div class="mypadding-form col-lg-10">
                <br>
                <h4 class="mb-3">Форма для отправки сообщение</h4>
                <form asp-controller="Logging" asp-action="SendEmail" class="needs-validation" novalidate="">
                    <div class="row g-3">

                        <div class="col-12">
                            <label asp-for="RecipientEmail" class="form-label">Email</label>
                            <input asp-for="RecipientEmail" class="form-control" placeholder="you@example.com" required="">
                            <span asp-validation-for="RecipientEmail" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label asp-for="Topic" class="form-label">Тема</label>
                            <input asp-for="Topic" class="form-control" placeholder="Тема" required="">
                            <span asp-validation-for="Topic" class="text-danger"></span>
                        </div>


                        <hr class="my-4">
                    </div>

                    <button class="w-100 btn btn-primary btn-lg" type="submit" onclick="sendforms()">Oтправить</button>
                </form>
                <br /><br /><br />
                <h5 class="text-center"> Email отправляются на Поддельный SMTP-провайдер  <a href="https://ethereal.email">ethereal.email</a></h5>
            </div>
            <div id="modal-1" class="modals ">
                <span class="modals-close">
                    <svg viewbox="0 0 40 40">
                        <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
                    </svg>
                </span>
                <div>
                    @if (Model != null)
                    {
                        <br>
                        <h5 class="mb-3 ">Сообщение успешно отправлено</h5><br>
                        <h6 class="mb-3 ">Тема - @Model.Topic</h6><br>
                        <span>Получатель: @Model.RecipientEmail;</span>
                    }
                </div>
            </div>
            <div class="overlay "></div>
        </div>
        <div class="col myunselectable">
        </div>

    </div>

</div>
<!---->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
<script>

    var formresultssend = @ViewBag.ResultSend;

    if (formresultssend == 1) {
        $('.overlay, #modal-1').addClass('shown');
    }

    $('.overlay, .modals-close').click(
        function () {
            $('.modals, .overlay').removeClass('shown');
        });

</script>
