@{
    ViewData["Title"] = "Уникальные";
    Layout = "_Layout";
}

<div class="container marketing">
    <div class="">
        <div class="jumbotron Spanpadding Divpadding text-center">
            <h2 class="display-5 fw-bold " id="blocksIMGToggle5">Страница SeqLogging</h2>
            <br />
            <br />
            <br />
            <h3 >Генерирует логи LogInformation, LogError, LogWarning</h3>
            <br />
            <br />
            <br />
            <br />
            <br />
            <a href="http://localhost:5341/" target="_blank" class="w-100 btn btn-primary btn-lg">Перейти на страницу SeqLogging</a>
        </div>
    </div>
</div>

